:root {
  --dl-color-scheme-paleyellow: #fff6a7ff;
  --dl-color-scheme-yellowishwhite: #fffef3ff;
  --dl-color-scheme-red: #961f1aff;
  --dl-color-scheme-grey: #cbcbcbff;
  --dl-color-scheme-black: #1a1a1aff;
  --dl-color-scheme-green: #7c7d5bff;
  --dl-color-scheme-white: #eaeaeaff;
  --dl-size-size-xsmall: 16px;
  --dl-size-size-small: 48px;
  --dl-size-size-medium: 96px;
  --dl-size-size-large: 144px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1144px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}
.header{
    border-bottom: 1px solid var(--dl-color-scheme-black);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--dl-color-scheme-red);
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--dl-color-scheme-white);
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-left: 5rem;
}
.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--dl-color-scheme-white);
}
.nav-link:hover{
    color: var(--dl-color-scheme-grey);
}
.logo {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--dl-color-scheme-white);
}
.logo-image {
    width: 4rem;
}

footer {
    width: 100%;
    justify-content: space-between;
    background-color: var(--dl-color-scheme-red);
    padding-top: .5%;
    padding-bottom: .5%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-container {
    width: auto;
    height: auto;
    padding-left: 2%;
    margin-bottom: 0px;
    flex-direction: row;
}
.footer-logo {
    display: flex;
    align-items: center;
}
.copyright {
    width: auto;
    height: 100%;
    display: flex;
    padding-right: 2%;
    flex-direction: row;
    color: var(--dl-color-scheme-white);
    font-size: 1.3rem;
}

@media only screen and (max-width: 945px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--dl-color-scheme-red);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;

}
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

}