.training-container {
  width: 100%;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.training-navbar {
  background-color: var(--dl-color-scheme-red);
}
.training-max-width {
  width: 1484px;
  height: 56px;
  padding-right: 24px;
}
.training-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.training-text {
  color: var(--dl-color-scheme-white);
}
.training-links {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.training-button {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.training-text01 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.training-button1 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.training-text02 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.training-button2 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.training-text03 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.training-button3 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.training-text04 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.training-button4 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.training-text05 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.training-button5 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.training-text06 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.training-button6 {
  color: var(--dl-color-scheme-grey);
  width: 64px;
  display: flex;
  font-size: 16px;
  padding-top: 12px;
  border-color: #cbcbcb;
  margin-right: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 12px;
  background-color: var(--dl-color-scheme-green);
}
.training-burger-menu {
  fill: #eaeaea;
  width: 24px;
  height: 24px;
}
.training-max-width1 {
  width: 100%;
  padding-top: 128px;
  padding-bottom: 0px;
  background-image: linear-gradient(90deg, rgba(49, 49, 49, 0.6) 0.00%,rgba(0, 0, 0, 0.4) 99.00%),url("images/T-1.jpg");  
}
.training-content {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: column;
}
.training-title {
  color: var(--dl-color-scheme-grey);
  font-size: 52px;
  font-style: normal;
  font-family: Arial;
  font-weight: 600;
  line-height: 1.2;
}
.training-text07 {
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  text-decoration: underline;
}
.training-text08 {
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  text-decoration: underline;
}
.training-description {
  color: var(--dl-color-scheme-grey);
  font-size: 40px;
  font-style: italic;
  text-align: left;
  font-family: Arial;
  line-height: 1.5;
}
.training-max-width2 {
  height: auto;
  align-items: center;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  justify-content: flex-end;
  background-color: var(--dl-color-scheme-black);
}
.training-content1 {
  width: auto;
  height: auto;
}
.training-text09 {
  font-size: 20px;
}
.training-max-width3 {
  width: 1169px;
  height: 162px;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: column;
  justify-content: center;
}
.training-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.training-text13 {
  font-size: 40px;
  font-style: italic;
  font-family: Titillium Web;
  font-weight: 700;
  text-decoration: underline;
}
.training-max-width4 {
  height: auto;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: flex-end;
  background-color: var(--dl-color-scheme-black);
}
.training-content2 {
  margin-right: 0px;
  padding-right: 0px;
}
.training-container03 {
  flex: 0 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.training-container04 {
  flex: 0 0 auto;
  width: 500px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.training-text15 {
  font-size: 28px;
  text-align: center;
}
.training-max-width5 {
  height: auto;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: flex-end;
  background-color: var(--dl-color-scheme-black);
}
.training-content3 {
  align-items: center;
  margin-right: 0px;
  padding-right: 0px;
  justify-content: center;
}
.training-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.training-text16 {
  color: #eaeaea;
  width: 460px;
  height: 127px;
  font-size: 48px;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 48px;
  text-decoration: underline;
}
.training-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.training-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.training-text17 {
  font-size: 28px;
}
.training-max-width6 {
  height: 661px;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: flex-end;
  background-color: var(--dl-color-scheme-black);
}
.training-content4 {
  width: auto;
  height: auto;
}
.training-text21 {
  font-size: 20px;
}
.training-footer {
  position: relative;
}
.training-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.training-container08 {
  width: 273px;
  height: 92px;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: center;
}
.training-logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.training-image3 {
  width: 48px;
  height: 58px;
  object-fit: cover;
}
.training-heading {
  color: var(--dl-color-scheme-white);
}
.training-container09 {
  width: 1108px;
  height: 96px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.training-container10 {
  width: 281px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.training-text24 {
  margin: 24px;
  font-weight: 700;
}
@media(max-width: 991px) {
  .training-content {
    width: 50%;
    margin-right: var(16px);
  }
  .training-max-width2 {
    flex-direction: column;
  }
  .training-max-width3 {
    flex-direction: column;
  }
  .training-max-width4 {
    flex-direction: column;
  }
  .training-max-width5 {
    flex-direction: column;
  }
  .training-max-width6 {
    flex-direction: column;
  }
  .training-links-container {
    width: auto;
    margin-top: var(32px);
    flex-direction: row;
  }
  .training-container09 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .training-links {
    display: none;
  }
  .training-icon {
    fill: var(--dl-color-scheme-grey);
  }
  .training-content {
    width: 100%;
    margin-right: 0px;
  }
  .training-links-container {
    width: auto;
    margin-top: var(32px);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .training-container09 {
    width: 100%;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .training-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .training-container09 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
}
