.about-me-container {
  width: 100%;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-me-navbar {
  background-color: var(--dl-color-scheme-red);
}
.about-me-max-width {
  width: 1484px;
  height: 56px;
  padding-right: 24px;
}
.about-me-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-me-text {
  color: var(--dl-color-scheme-white);
}
.about-me-links {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-me-button {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.about-me-text01 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.about-me-button1 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.about-me-text02 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.about-me-button2 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.about-me-text03 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.about-me-button3 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.about-me-text04 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.about-me-button4 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.about-me-text05 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.about-me-button5 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.about-me-text06 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.about-me-button6 {
  color: var(--dl-color-scheme-grey);
  width: 64px;
  display: flex;
  font-size: 16px;
  padding-top: 12px;
  border-color: #cbcbcb;
  margin-right: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 12px;
  background-color: var(--dl-color-scheme-green);
}
.about-me-burger-menu {
  fill: #eaeaea;
  width: 24px;
  height: 24px;
}
.about-me-section {
  height: 881px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-scheme-black);
}
.about-me-max-width1 {
  height: 100%;
  align-items: stretch;
  padding-left: 24px;
  padding-right: 24px;
}
.about-me-container1 {
  flex: 0 0 auto;
  width: 567px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-me-text07 {
  color: #eaeaea;
  width: auto;
  height: auto;
  font-size: 48px;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 48px;
  text-decoration: underline;
}
.about-me-text09 {
  font-weight: 700;
}
.about-me-text13 {
  font-weight: 700;
  text-decoration: underline;
}
.about-me-text19 {
  font-size: 20px;
}
.about-me-image1 {
  width: 556px;
  object-fit: cover;
}
.about-me-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: space-between;
  background-color: var(--dl-color-scheme-red);
}
.about-me-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-me-container2 {
  width: 301px;
  height: 92px;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: center;
}
.about-me-logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-me-image2 {
  width: 48px;
  height: 58px;
  object-fit: cover;
}
.about-me-heading {
  color: var(--dl-color-scheme-white);
}
.about-me-container3 {
  width: 1108px;
  height: 96px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.about-me-container4 {
  width: 281px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-me-text20 {
  margin: 0px;
  font-weight: 700;
}
@media(max-width: 991px) {
  .about-me-max-width1 {
    flex-direction: column;
  }
  .about-me-footer {
    flex-direction: column;
  }
  .about-me-links-container {
    width: auto;
    margin-top: var(32px);
    flex-direction: row;
  }
  .about-me-container3 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .about-me-links {
    display: none;
  }
  .about-me-icon {
    fill: var(--dl-color-scheme-grey);
  }
  .about-me-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-me-links-container {
    width: auto;
    margin-top: var(32px);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-me-container3 {
    width: 100%;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .about-me-footer {
    padding: 16px;
  }
  .about-me-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-me-container3 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
}
