.consulting-container {
  width: 100%;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
}
.consulting-navbar {
  background-color: var(--dl-color-scheme-red);
}
.consulting-max-width {
  width: 1484px;
  height: 56px;
  padding-right: 24px;
}
.consulting-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.consulting-text {
  color: var(--dl-color-scheme-white);
}
.consulting-links {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.consulting-button {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.consulting-text01 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.consulting-button1 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.consulting-text02 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.consulting-button2 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.consulting-text03 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.consulting-button3 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.consulting-text04 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.consulting-button4 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.consulting-text05 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.consulting-button5 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.consulting-text06 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.consulting-button6 {
  color: var(--dl-color-scheme-grey);
  width: 64px;
  display: flex;
  font-size: 16px;
  padding-top: 12px;
  border-color: #cbcbcb;
  margin-right: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 12px;
  background-color: var(--dl-color-scheme-green);
}
.consulting-burger-menu {
  fill: #eaeaea;
  width: 24px;
  height: 24px;
}
.consulting-max-width1 {
  height: auto;
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: column;
  background-size: cover;
  background-image: linear-gradient(90deg, rgba(49, 49, 49, 0.6) 0.00%,rgba(0, 0, 0, 0.4) 99.00%),url("images/C-1.jpg");
}
.consulting-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.consulting-text07 {
  color: var(--dl-color-scheme-grey);
  text-decoration: underline;
}
.consulting-text08 {
  width: auto;
}
.consulting-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.consulting-text09 {
  height: auto;
}
.consulting-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.consulting-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.consulting-text15 {
  height: auto;
}
.consulting-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.consulting-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.consulting-text23 {
  height: auto;
}
.consulting-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.consulting-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.consulting-text28 {
  height: auto;
}
.consulting-max-width2 {
  height: auto;
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: column;
  background-color: var(--dl-color-scheme-black);
}
.consulting-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
}
.consulting-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.consulting-text40 {
  height: auto;
}
.consulting-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
}
.consulting-container13 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.consulting-text50 {
  height: auto;
}
.consulting-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
}
.consulting-container15 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.consulting-text59 {
  height: auto;
}
.consulting-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
}
.consulting-container17 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.consulting-text64 {
  height: auto;
}
.consulting-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
}
.consulting-container19 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.consulting-text71 {
  height: auto;
}
.consulting-footer {
  position: relative;
}
.consulting-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.consulting-container20 {
  width: 273px;
  height: 92px;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: center;
}
.consulting-logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.consulting-image1 {
  width: 48px;
  height: 58px;
  object-fit: cover;
}
.consulting-heading {
  color: var(--dl-color-scheme-white);
}
.consulting-container21 {
  width: 1108px;
  height: 96px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.consulting-container22 {
  width: 281px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.consulting-text76 {
  margin: 24px;
  font-weight: 700;
}
@media(max-width: 991px) {
  .consulting-max-width2 {
    flex-direction: column;
  }
  .consulting-links-container {
    width: auto;
    margin-top: var(32px);
    flex-direction: row;
  }
  .consulting-container21 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .consulting-links {
    display: none;
  }
  .consulting-icon {
    fill: var(--dl-color-scheme-grey);
  }
  .consulting-max-width1 {
    flex-direction: column-reverse;
  }
  .consulting-links-container {
    width: auto;
    margin-top: var(32px);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .consulting-container21 {
    width: 100%;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .consulting-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .consulting-container21 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
}
