.profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.profile-navbar {
  background-color: var(--dl-color-scheme-red);
}
.profile-max-width {
  width: 1484px;
  height: 56px;
  padding-right: 24px;
}
.profile-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.profile-text {
  color: var(--dl-color-scheme-white);
}
.profile-links {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.profile-button {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.profile-text1 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.profile-button1 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.profile-text2 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.profile-button2 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.profile-text3 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.profile-button3 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.profile-text4 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.profile-button4 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.profile-text5 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.profile-button5 {
  color: var(--dl-color-scheme-white);
  border-width: 0px;
  background-color: transparent;
}
.profile-text6 {
  color: var(--dl-color-scheme-white);
  font-weight: 700;
}
.profile-button6 {
  color: var(--dl-color-scheme-grey);
  width: 64px;
  display: flex;
  font-size: 16px;
  padding-top: 12px;
  border-color: #cbcbcb;
  margin-right: 16px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 12px;
  background-color: var(--dl-color-scheme-green);
}
.profile-burger-menu {
  fill: #eaeaea;
  width: 24px;
  height: 24px;
}
.profile-max-width1 {
  height: 100%;
  align-items: stretch;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--dl-color-scheme-black);
}
.profile-footer {
  position: relative;
}
.profile-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.profile-container1 {
  width: 273px;
  height: 92px;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: center;
}
.profile-image1 {
  width: 48px;
  height: 58px;
  object-fit: cover;
}
.profile-heading {
  color: var(--dl-color-scheme-white);
}
.profile-container2 {
  width: 1108px;
  height: 96px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.profile-container3 {
  width: 281px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.profile-text7 {
  margin: 24px;
  font-weight: 700;
}
@media(max-width: 991px) {
  .profile-max-width1 {
    flex-direction: column;
  }
  .profile-links-container {
    width: auto;
    margin-top: var(32px);
    flex-direction: row;
  }
  .profile-container2 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .profile-links {
    display: none;
  }
  .profile-icon {
    fill: var(--dl-color-scheme-grey);
  }
  .profile-links-container {
    width: auto;
    margin-top: var(32px);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .profile-container2 {
    width: 100%;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .profile-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .profile-container2 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
}
