.card-card {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: 36px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
}
.card-info {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 16px;
  padding-left: 32px;
  border-radius: 20px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 16px;
  background-color: var(--dl-color-scheme-red);
}
.card-button {
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  background-color: var(--dl-color-scheme-green);
}
.card-root-class-name {
  align-self: flex-start;
  margin-bottom: 24px;
  background-size: cover;
}
.card-root-class-name2 {
  align-self: flex-start;
  margin-bottom: 24px;
}

@media(max-width: 767px) {
  .card-card {
    width: 100%;
  }
  .card-root-class-name {
    margin-bottom: 24px;
  }
  .card-root-class-name2 {
    margin-bottom: 24px;
}
